extends ../layouts/application

block content
  .row
    .span12
      h1 Server list
      hr
      table.table.table-striped
        thead
          tr
            th Server Name
            th IP
            th Show
        tbody
          each server in servers
            tr
              td= server.name
              td= server.ip
              td
                a(href=server.link) Show server
