extends ../layouts/application

block content
  .row
    h1 Server list
    hr
    table(width="100%")
      thead
        tr
          th Server Name
          th API Key
          th Show
      tbody
        each server in servers
          tr
            td= server.name
            td= server.apikey
            td
              a(href=server.link) Show server
