extends ../layouts/application

block content
  .row
    .span12
      h1 Server list
      hr
      table.table.table-striped
        thead
          tr
            th Server
            th Description
            th Show
        tbody
          each server in servers
            tr
              td= server.ip
              td= server.desc
              td
                a(href=server.link) Show server
