extends ../layouts/application

block content
  .row
    .span12
      .page-header
        h1 Players
      table.table.table-striped
        thead
          tr
            th Name
            th Show
        tbody
          each player in players
            tr
              td= player.name
              td
                a(href=player.link) Show player
