extends ../layouts/application

block header
  != js('form/jquery.form')
  script
    $(function(){
      $("#login").ajaxForm({
        error: function() {
          $(".alert").alert("close");
          $("#errors").append(
            '<div class="alert alert-error">Invalid username or password.</div>'
          );
        },

        success: function() {
          window.location = "/";
        }
      });
    });

block content
  .row
    .span6.offset3
      h1 Login
      hr
      #errors
      form#login(name="login", method="post", action="/login").form-horizontal
        .control-group
          label(for="user").control-label Username
          .controls
            input#user(type="text", placeholder="Username", name="user")
        .control-group
          label(for="pass").control-label Password
          .controls
            input#pass(type="password", placeholder="Password", name="pass")
        .control-group
          .controls
            label.checkbox
              input#remember(type="checkbox", name="remember")
              | Remember me
        .form-actions
          button(type="submit").btn.btn-primary
            i.icon-signin
            |  Login
          button(type="button").btn Forgot password?
