extends ../layouts/application

block content
  .row
    .span12
      h1 Account
      hr
  .row
    .span4
      h2 Profile
      form#email(action="/account", method="post").form-horizontal
        .control-group
          p.control-label Profile Picture
          .controls
            a(href="http://gravatar.com")
              img(src=user.gravatar({s: 150})).img-polaroid
            small Change on 
              a(href="http://gravatar.com") gravatar.com
        .control-group
          p.control-label Username
          .controls
            span.input-medium.uneditable-input= user.username
        .control-group
          label(for="email").control-label Email
          .controls
            input#email(type="text", placeholder=user.email, name="email[email]").input-medium
        .form-actions
          button(type="submit").btn.btn-primary
            i.icon-save
            |  Save
      h2 Password
      form#pass(action="/account", method="post").form-horizontal
        .control-group
          label(for="current").control-label Current Password
          .controls
            input#current(type="password", placeholder="Current Password", name="pass[current]").input-medium
        .control-group
          label(for="pass").control-label New Password
          .controls
            input#pass(type="password", placeholder="New Password", name="pass[new]").input-medium
        .control-group
          label(for="confirm").control-label Confirm Password
          .controls
            input#confirm(type="password", placeholder="Confirm Password", name="pass[confirm]").input-medium
        .form-actions
          button(type="submit").btn.btn-primary
            i.icon-save
            |  Save
    .span8
      h2 Servers
      p Todo list a million servers
