extends ../layouts/application

block content
  .row
    .span8
      h1 About
      p.
        VolumetricBans is a website that handles bans. Here is a picture of one of us.
      p.
        This guy did not write this website, however. Instead, he
        made the plugin that is running on your server today. Perhaps
        this is why your server is running so slowly?
    .span4
      h3 we really need a sidebar
