extends ../layouts/application

block content
  .row
    .large-8.columns
      h1 Contact
      hr
      p.
        Contact us at irc.esper.net:6667#volumetricbans.
    .large-4.columns
      h3 we really need a sidebar
