doctype html
html
  head
    != css('swatchmaker')
    != css('styles')

    != js('jquery')
    != js('bootstrap')
    != js('moment')
    != js('scripts')

    title Volumetric Bans

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    div#wrapper
      include navbar
      .container
        block content
      .push

    #footer
      .container
        .row
          .span4
            p.muted Copyright &copy; 2013 
              a(href="http://volumetricpixels.com") Volumetric Pixels
              | . 
          .span4.offset4
            iframe(src="http://ghbtns.com/github-btn.html?user=VolumetricPixels&repo=vb-site&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="132", height="20")
            iframe(src="http://ghbtns.com/github-btn.html?user=VolumetricPixels&repo=vb-site&type=fork&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="132", height="20")
