doctype html
html
  head
    != css('normalize')
    != css('foundation')
    != css('styles')

    != js('jquery')
    != js('modernizr')
    != js('foundation')

    script $(document).foundation()
  body
    include navbar
    block content
