doctype html
html
  head
    != css('normalize')
    != css('foundation')
    != css('styles')

    != js('jquery')
    != js('modernizr')
    != js('foundation')
    != js('moment')
    != js('scripts')

    script $(document).foundation()
    title Volumetric Bans
  body
    .wrapper
        include navbar
        block content
        .push
    .footer
      .row
        p Copyright &copy; 2013 Volumetric Pixels.
