doctype html
html
  head
    != css('bootstrap')
    != css('bootstrap-responsive')
    != css('styles')

    != js('jquery')
    != js('bootstrap')
    != js('moment')
    != js('scripts')

    title Volumetric Bans

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    div#wrapper
      include navbar
      .container
        block content
      .push

    .footer
      .container
        p.muted.credit Copyright &copy; 2013 
          a(href="http://volumetricpixels.com") Volumetric Pixels
          .
