doctype html
html
  head
    != css('normalize')
    != css('foundation')
    != css('styles')

    != js('jquery')
    != js('modernizr')
    != js('foundation')
    != js('scripts')

    script $(document).foundation()
  body
    .wrapper
        include navbar
        block content
        .push
    .footer
      .row
        p test
