doctype html
html
  head
    != css('foundation')
    != css('normalize')

    != js('jquery')
    != js('modernizr')
    != js('foundation')

    script $(document).foundation()
  body
    include navbar
