nav.top-bar
  ul.title-area
    li.name
      h1
        a(href="#") VolumetricBans
    li.toggle-topbar.menu-icon
      a
        span Menu

  section.top-bar-section
    ul.right
      li.divider
      li
        a(href="#") Bans
      li
        a(href="#") Picks
      li
        a(href="#") Servers
