div.navbar.navbar-inverse.navbar-static-top
  div.navbar-inner
    div.container
      a(data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(href="/").brand VolumetricBans

      div.nav-collapse.collapse
        ul.nav
          li
            a(href="/bans/") Bans
          li
            a(href="/servers/") Servers
          li
            a(href="http://volumetricpixels.com/forums/") Forums
          li
            a(href="/about") About
          li
            a(href="/contact") Contact

        if user
          ul.nav.pull-right
            li
              a(href="/account")= user.username
        else
          ul.nav.pull-right
            li
              a(href="/login") Login
            li
              a(href="/register") Register
