nav.top-bar
  ul.title-area
    li.name
      h1
        a(href="#") VolumetricBans
    li.toggle-topbar.menu-icon
      a
        span Menu

  section.top-bar-section
    ul.left
      li.divider
      li
        a(href="/bans/") Bans
      li.divider
      li
        a(href="/servers/") Servers
      li.divider
      li
        a(href="/disputes/") Disputes
      li.divider

    ul.right
      li.divider
      li
        a(href="http://volumetricpixels.com/forums/") Forums
      li.divider
      li
        a(href="/about") About
      li.divider
      li
        a(href="/contact") Contact
      li.divider
