nav.top-bar
  ul.title-area
    li.name
      h1
        a(href="#") VolumetricBans
    li.toggle-topbar.menu-icon
      a
        span Menu

  section.top-bar-section
    ul.left
      li.divider
      li
        a(href="#") Bans
      li.divider
      li
        a(href="#") Servers
      li.divider
      li
        a(href="#") Disputes
      li.divider

    ul.right
      li.divider
      li
        a(href="#") Forums
      li.divider
      li
        a(href="#") About
      li.divider
      li
        a(href="#") Contact
      li.divider
